<!-- Background image -->
<div class="p-5 text-center bg-image" style="
  background-image: url('https://cdn.pixabay.com/photo/2015/11/06/13/51/sea-1027983__340.jpg');
  height: 400px; background-size: cover;">

    <div class="d-flex justify-content-center align-items-center h-100" style="background-color: rgba(212, 202, 202, 0.3);">
        <div class="text-dark">
            <h1 class="mb-3">Fly with 7Cloud</h1>
            <h4 class="mb-3">Spend wonderful days in your favourite country</h4>
            <a class="btn btn-outline-dark btn-md mt-2" href="#!" role="button">Learn more</a>
        </div>
    </div>

</div>
<!-- Background image -->