<!-- Background image -->
<div class="p-5 text-center bg-image" style="
  background-image: url('https://cdn.pixabay.com/photo/2016/11/22/23/44/porsche-1851246__340.jpg');
  height: 400px; background-size: cover;">

    <div class="d-flex justify-content-center align-items-center h-100" style="background-color: rgba(114, 111, 111, 0.3);">
        <div class="text-dark">
            <h1 class="mb-3">Car Rental</h1>
            <h4 class="mb-3">Choose car that you want</h4>
            <a class="btn btn-outline-dark btn-md mt-2" role="button">Learn more</a>
        </div>
    </div>

</div>
<!-- Background image -->