<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h3>Car Rental</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-5" (click)="countClick()" href="#">Donate {{clickCounter}}€</a>
                </li>
                <li *ngIf="clickCounter >= 200" class="nav-item">
                    <p class="nav-link text-center ms-5 text-light p-2">VIP</p>
                </li>
            </ul>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Find best tickets" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Yes!</button>
            </form>
        </div>
    </div>
</nav>