<div class="container">
    <div class="row justify-content-center g-5 m-3">
        <div class="flex flex-column col-lg-3 col-md-2 col-sm-1">
            <i class="fa-solid fa-rabbit-running"></i>
            <h3>Fast</h3>
            <p>We can find and book the tickets in max. 24 hours</p>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1">
            <i class="fa-solid fa-rabbit-running"></i>
            <h3>Good price</h3>
            <p>We have a lot of good offers and hotel-partners all around the world</p>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1">
            <i class="fa-solid fa-rabbit-running"></i>
            <h3>24/7 Support</h3>
            <p>Call or text us anytime</p>
        </div>
    </div>
</div>