<div class="container mt-5">
    <div class="row justify-content-center text-start mt-4">
        <h3 class="mb-3">Car Rental Form</h3>
        <form [formGroup]="info" (ngSubmit)="onSubmit()">
            <label>
            First Name:
            <input type="text" formControlName="fname">
        </label>
            <br>
            <br>
            <label>
            Last Name:
            <input type="text" formControlName="lname">
        </label>
            <br>
            <br>
            <label>
            Mobile Number:
            <input type="text" formControlName="mnumber">
        </label>
            <br>
            <br>
            <label>
            E-Mail Address:
            <input type="text" formControlName="email">
        </label>
            <br>
            <br>
            <label>
            Message:
            <input type="text" formControlName="msg">
        </label>
            <br>
            <br>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
    <div id="answers" class="row">
    </div>
    <div *ngIf="valid">
        the form is valid
    </div>
</div>