<div class="container mt-5">
    <div class="row justify-content-center text-start mt-4">
        <h3 class="mb-3">Car Rental Form</h3>
        <form formGroup="info" (ngSubmit)="onSubmit()">
            <label>
            Car model:
            <input type="text" formControlName="model">
        </label>
            <br>
            <br>
            <label>
            Amount of days (rent):
            <input type="text" formControlName="rent">
        </label>
            <br>
            <br>
            <label>
            First Name:
            <input type="text" formControlName="fname">
        </label>
            <br>
            <br>
            <label>
            Last Name:
            <input type="text" formControlName="lname">
        </label>
            <br>
            <br>
            <label>
            Mobile Number:
            <input type="text" formControlName="number">
        </label>
            <br>
            <br>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
    <div id="answers" class="row">
    </div>
</div>