<div class="card-group p-3 g-3">
    <div class="card border m-3">
        <img src="https://cdn.pixabay.com/photo/2018/08/16/08/39/hallstatt-3609863__480.jpg" class="card-img-top h-100" alt="Austria">
        <div class="card-body">
            <h5 class="card-title">Austria</h5>
            <p class="card-text">Wonderful Austria is waiting for you.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Special offer till Feb, 20</small>
        </div>
    </div>
    <div class="card border m-3">
        <img src="https://cdn.pixabay.com/photo/2016/08/23/09/46/bojnice-1613939__340.jpg" class="card-img-top h-100" alt="Slovakia">
        <div class="card-body">
            <h5 class="card-title">Slovakia</h5>
            <p class="card-text">Enjoy Slovakia with 7Cloud.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Special offer till March, 1</small>
        </div>
    </div>
    <div class="card border m-3">
        <img src="https://cdn.pixabay.com/photo/2013/04/11/19/46/building-102840__340.jpg" class="card-img-top h-100" alt="France">
        <div class="card-body">
            <h5 class="card-title">France</h5>
            <p class="card-text">Book an amazing weekend for two in Paris.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Special offer till Feb, 14</small>
        </div>
    </div>
</div>